@model EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/Files/Images/@Model.ImageName" width="100px" class="img-fluid rounded-circle" alt="@Model.ImageName" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HiringDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-controller="Employee" asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Index">Back to List</a>
</div>
